#pokemon-details-container {
    background-color: #161620;
    margin-top: 2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 20pt;
    font-family: "Pokemon Fire Red";
}
#pokemon-sprite {
    height: 200%;
    margin-left: 2rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
    float: left;
    background-color: #202028;
    border-radius: 2rem;
}
#pokemon-name {
    font-size: 40pt;
    text-shadow: #555 0.15rem 0.15rem;
    margin-bottom: 0;
}
#info-grid {
    display: grid;
    grid-template-columns: 15vw 15vw;
    grid-template-rows: 5vw 5vw;
}
#info-grid p {
    font-weight: bold;
    font-family: "Pokemon Fire Red";
    margin: 0;
}
#info-grid p span {
    font-weight: normal;
}
#pokemon-movelist {
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 0;
}
#pokemon-movelist span {
    font-weight: normal;
}
#favorite-button {
    margin-top: 0.35rem;
}