#pokemon-details-container {
    background-color: #161620;
    margin-top: 2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 20pt;
    font-family: "Pokemon Fire Red";
}
#pokemon-sprite {
    height: 37.5vw;
    margin-left: 2rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
    float: left;
    background-color: #202028;
    border-radius: 2rem;
}
#pokemon-name {
    font-size: 40pt;
    text-shadow: var(--firered);
    margin-bottom: 0;
}
#info-grid {
    display: grid;
    grid-template-columns: 14vw 15vw 10vw 12vw;
}
#info-grid p {
    font-weight: bold;
    text-shadow: var(--firered);
    font-family: "Pokemon Fire Red";
    margin: 0;
}
#info-grid p span {
    text-shadow: none;
    font-weight: normal;
}
#pokemon-movelist {
    font-weight: bold;
    margin: 0 auto 0 auto;
}
#pokemon-movelist span {
    font-weight: normal;
}
#favorite-button {
    margin-top: 0.35rem;
}